//Base Colors

$black: #000;
$purple: #c125ff;
$yellow: #fed136;
$white: #fff;
$backgroundcolor: #040f32;

//Font Sizes
$regular_font_size: 3.5em;

//Percentage Values
$percent_5: 5%;
$percent_10: 10%;
$percent_15: 15%;
$percent_20: 20;

//regular widths and hights

